@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --primary:#45484E;
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
nav{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.25rem;
    padding-top: 3.125rem;
    position: fixed;
    z-index: 1;
    display: none;
}
main{
    max-width: 1440px;
    width: 100%;
}
img{
    width: 100%;
}
h1{
    font-size: 4.375rem;
    font-weight: 600;
}
.text-m{
    font-size: 1.625rem;
    font-weight: 500;
}
.content-nav{
    display: flex;
    gap: 2.4375rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 600;
}
.item-nav{
    list-style: none;
}
.item-nav a{
    text-decoration: none;
}
nav button{
    width: 16.1875rem;
    height: 5rem;
    padding: 0.625rem;
    border: none;
    border-radius: 30px;
    background-color: var(--primary);
    color: white;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.44125rem;
}

.hero-section{
    width: 100%;
    height: 100vh;
    display: flex;
}
.hero-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6.0625rem;
    background-color: var(--primary);
    color: white;
}
.hero-img{
    width: 40%;
    background: url(https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1000&q=60);
    background-size: cover;
    background-position: center;
}

@media (max-width: 780px) {
    .hero-section {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }
    .hero-img{
        width: 100%;
        height: 100vh;
    }
    .hero-text{
        width: 100%;
        padding: 6.0625rem 3.125rem;
    }
}